.cb-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*body {*/
/*font-family: "Segoe UI","Source Sans Pro",Calibri,Candara,Arial,sans-serif*/
/*}*/


input:checked + label {
    background-color: grey;
    border-color: grey;
}

.btn.btn-default:hover {
    background-color: grey;
    border-color: grey;
}


.center {
    text-align: center;
    padding: 15px;
}

p {
    color:black;
    font-weight: 400;
    font-size: 18px;
    max-width:300px;
    padding-top: 30px;
}


.blue {
    background-color: blue !important;
    border-radius: 4px;
    padding: 10px;
    float:left;
}


.green {
    background-color:green !important;
    padding: 10px;
    float:left;
    border-radius: 4px;
}

.red {
    background-color: red;
    padding: 10px;
    float:left;
    border-radius: 4px;
}

.orange {
    background-color: orange;
    padding: 10px;
    float:left;
    border-radius: 4px;
}

.pink {
    background-color: pink !important;
    padding: 10px;
    float:left;
    border-radius: 4px;
}